/* /Pages/Contacto.razor.rz.scp.css */

#contacto img[b-u6k6awdg5u] {
    width: 100%;
}

#contacto[b-u6k6awdg5u] {
    background: url("images/contactanos/background_contacto.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    padding: 0;
    background-color: rgba(0, 0, 0, .5);
}

    #contacto .informacion[b-u6k6awdg5u] {
        background-color: rgba(0, 0, 0, .5);
    }

    #contacto .informacion .container[b-u6k6awdg5u] {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        width: 100%;
        color: #FFFFFF;
        height: 100vh;
        padding: 5rem;
    }

        #contacto .informacion .container img[b-u6k6awdg5u] {
            width: 50px;
        }
/* /Pages/Index.razor.rz.scp.css */

img[b-aa2z70w3sl] {
    width: 100%;
}

section[b-aa2z70w3sl] {
    color: #000000;
    text-align: center;
    padding: 5rem;
    font-size: 1.25rem;
}

h1[b-aa2z70w3sl], h5[b-aa2z70w3sl] {
    margin-bottom: 2rem;
    font-weight: bold;
}

#inicio[b-aa2z70w3sl] {
    background: url("images/index/portada.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    padding: 0;
}

    #inicio .portada[b-aa2z70w3sl] {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        width: 100%;
        color: #FFFFFF;
        background-color: rgba(0, 0, 0, .5);
        height: 100vh;
        padding: 5rem;
    }

        #inicio .portada .tittle[b-aa2z70w3sl] {
            font-size: 3.5rem;
            font-weight: bold;
        }

        #inicio .portada .description[b-aa2z70w3sl] {
            margin-top: 50px;
            font-size: 2rem;
        }


#empresa .concepto[b-aa2z70w3sl] {
    font-size: 1.5rem;
}

#empresa img[b-aa2z70w3sl] {
    width: 100px;
}


#empresa .description[b-aa2z70w3sl] {
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

    #empresa .description div[b-aa2z70w3sl] {
        width: 400px;
        padding: 1rem 2rem;
        margin: 2rem;
    }

        #empresa .description div:hover[b-aa2z70w3sl] {
            background-color: #F5F5F5;
        }

    #empresa .description p[b-aa2z70w3sl] {
        text-align: justify;
    }


#quehacemos[b-aa2z70w3sl] {
    display: flex;
    justify-content: space-around;
    background-color: #F5F5F5;
    align-items: center;
}

    #quehacemos > div[b-aa2z70w3sl] {
        width: 48%;
    }

    #quehacemos img[b-aa2z70w3sl] {
        box-shadow: -2rem -1rem #075E54;
    }

    #quehacemos .description[b-aa2z70w3sl] {
        box-shadow: 0px 0px 1rem 0px RGB(0 0 0 / 50%);
    }

        #quehacemos .description p[b-aa2z70w3sl] {
            text-align: justify;
            padding: 5rem;
        }


#proceso article[b-aa2z70w3sl] {
    display: flex;
    width: 100%;
    padding: 1rem 10rem;
    justify-content: space-between;
    align-items: center;
}

    #proceso article div[b-aa2z70w3sl] {
        width: 50%;
    }

    #proceso article .description[b-aa2z70w3sl] {
        justify-content: center;
        margin: auto;
        text-align: justify;
        background-color: #F5F5F5;
        padding: 1rem;
    }

    #proceso article img[b-aa2z70w3sl] {
        width: 60%;
    }

    #proceso article div .shadow-left[b-aa2z70w3sl] {
        box-shadow: -10px 10px 10px 10px RGB(0 0 0 / 50%);
        border-radius: 10px;
    }

    #proceso article div .shadow-right[b-aa2z70w3sl] {
        box-shadow: 10px 10px 10px 10px RGB(0 0 0 / 50%);
        border-radius: 10px;
    }

/*#proceso img {
    width: 250px;
}*/

#servicios[b-aa2z70w3sl] {
    background-color: #F5F5F5;
}

    #servicios .description[b-aa2z70w3sl] {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

        #servicios .description article[b-aa2z70w3sl] {
            width: 400px;
            height: 600px;
            padding: 1rem;
            margin: 1rem;
        }

            #servicios .description article img[b-aa2z70w3sl] {
                width: 100%;
                margin-bottom: 1rem;
                border-radius: 10px;
            }


@media (max-width: 480px) {
    section[b-aa2z70w3sl] {
        padding: 2rem 1rem;
        font-size: 1rem;
    }

    #inicio .portada[b-aa2z70w3sl] {
        padding: 1rem;
    }

        #inicio .portada .tittle[b-aa2z70w3sl] {
            font-size: 1.25rem;
            margin-top: 80px;
        }

        #inicio .portada .description[b-aa2z70w3sl] {
            margin-top: 5px;
            font-size: 1rem;
        }

    #empresa .concepto[b-aa2z70w3sl] {
        font-size: 1.25rem;
    }

    #empresa .description div[b-aa2z70w3sl] {
        width: 100%;
        padding: 1rem 1rem;
        margin: 0rem;
    }

    #quehacemos[b-aa2z70w3sl] {
        flex-direction: column;
    }

        #quehacemos > div[b-aa2z70w3sl] {
            width: 100%;
            margin-bottom: 1rem;
        }

        #quehacemos img[b-aa2z70w3sl] {
            box-shadow: -0.5rem -0.5rem #075E54;
            width: 95%;
        }

        #quehacemos .description p[b-aa2z70w3sl] {
            padding: 1rem;
        }


    #proceso article[b-aa2z70w3sl] {
        flex-direction: column;
        width: 100%;
        padding: 1rem 0rem;
    }

        #proceso article div[b-aa2z70w3sl] {
            width: 100%;
            padding: 1rem 0rem;
        }

        #proceso article img[b-aa2z70w3sl] {
            width: 95%;
        }

        #proceso article div .shadow-left[b-aa2z70w3sl] {
            box-shadow: -3px 3px 3px 3px RGB(0 0 0 / 50%);
        }

        #proceso article div .shadow-right[b-aa2z70w3sl] {
            box-shadow: 3px 3px 3px 3px RGB(0 0 0 / 50%);
        }

    #servicios .description article[b-aa2z70w3sl] {
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        margin: 0.5rem;
    }
}

@media (min-width: 481px) and (max-width: 640px) {
    section[b-aa2z70w3sl] {
        padding: 2rem 1rem;
        font-size: 1.1rem;
    }

    #inicio .portada[b-aa2z70w3sl] {
        padding: 1.5rem;
    }

        #inicio .portada .tittle[b-aa2z70w3sl] {
            font-size: 1.5rem;
            margin-top: 50px;
        }

        #inicio .portada .description[b-aa2z70w3sl] {
            margin-top: 5px;
            font-size: 1.25rem;
        }

    #empresa .concepto[b-aa2z70w3sl] {
        font-size: 1.25rem;
        padding: 1rem;
    }

    #empresa .description div[b-aa2z70w3sl] {
        width: 100%;
        padding: 1rem;
        margin: 0rem;
    }

    #quehacemos[b-aa2z70w3sl] {
        flex-direction: column;
    }

        #quehacemos > div[b-aa2z70w3sl] {
            width: 100%;
            margin-bottom: 1rem;
            padding: 1rem;
        }

        #quehacemos img[b-aa2z70w3sl] {
            box-shadow: -0.5rem -0.5rem #075E54;
        }

    #proceso article[b-aa2z70w3sl] {
        flex-direction: column;
        width: 100%;
        padding: 1rem 0rem;
    }

        #proceso article div[b-aa2z70w3sl] {
            width: 100%;
            padding: 1rem 0rem;
        }

        #proceso article img[b-aa2z70w3sl] {
            width: 90%;
        }

        #proceso article div .shadow-left[b-aa2z70w3sl] {
            box-shadow: -3px 3px 3px 3px RGB(0 0 0 / 50%);
        }

        #proceso article div .shadow-right[b-aa2z70w3sl] {
            box-shadow: 3px 3px 3px 3px RGB(0 0 0 / 50%);
        }

    #servicios .description article[b-aa2z70w3sl] {
        width: 90%;
        height: 90%;
        padding: 0rem;
        margin: 0rem;
    }
}

@media (min-width: 641px) and (max-width: 800px) {
    section[b-aa2z70w3sl] {
        padding: 2rem;
    }

    #inicio .portada[b-aa2z70w3sl] {
        padding: 2rem;
    }

        #inicio .portada .tittle[b-aa2z70w3sl] {
            font-size: 2rem;
        }

        #inicio .portada .description[b-aa2z70w3sl] {
            font-size: 1.5rem;
        }

    #empresa .concepto[b-aa2z70w3sl] {
        font-size: 1.3rem;
    }

    #empresa .description div[b-aa2z70w3sl] {
        width: 100%;
        padding: 1.5rem;
        margin: 1.5rem;
    }

    #quehacemos[b-aa2z70w3sl] {
        flex-direction: column;
    }

        #quehacemos > div[b-aa2z70w3sl] {
            width: 100%;
            margin-bottom: 1rem;
            padding: 2rem;
        }

        #quehacemos img[b-aa2z70w3sl] {
            box-shadow: -1rem -1rem #075E54;
        }

    #proceso article[b-aa2z70w3sl] {
        width: 100%;
        padding: 1.5rem;
    }

        #proceso article div[b-aa2z70w3sl] {
            width: 100%;
            padding: 1rem;
        }

        #proceso article img[b-aa2z70w3sl] {
            width: 100%;
        }

        #proceso article div .shadow-left[b-aa2z70w3sl] {
            box-shadow: -5px 5px 5px 5px RGB(0 0 0 / 50%);
        }

        #proceso article div .shadow-right[b-aa2z70w3sl] {
            box-shadow: 5px 5px 5px 5px RGB(0 0 0 / 50%);
        }

    #servicios .description article[b-aa2z70w3sl] {
        width: 50%;
        height: 50%;
        padding: 1rem;
        margin: 0rem;
    }
}

@media (min-width: 801px) and (max-width: 960px) {
    section[b-aa2z70w3sl] {
        padding: 3rem;
    }

    #inicio .portada .tittle[b-aa2z70w3sl] {
        font-size: 2.5rem;
        margin-top: 50px;
    }

    #inicio .portada .description[b-aa2z70w3sl] {
        font-size: 1.5rem;
    }

    #empresa .concepto[b-aa2z70w3sl] {
        font-size: 1.3rem;
    }

    #empresa .description div[b-aa2z70w3sl] {
        width: 80%;
        padding: 2rem;
        margin: 2rem;
    }

    #quehacemos[b-aa2z70w3sl] {
        flex-direction: column;
    }

        #quehacemos > div[b-aa2z70w3sl] {
            width: 100%;
            margin-bottom: 1rem;
            padding: 2rem;
        }


    #proceso article[b-aa2z70w3sl] {
        width: 100%;
        padding: 1.5rem;
    }

        #proceso article div[b-aa2z70w3sl] {
            width: 100%;
            padding: 1rem;
        }

        #proceso article img[b-aa2z70w3sl] {
            width: 100%;
        }

        #proceso article div .shadow-left[b-aa2z70w3sl] {
            box-shadow: -5px 5px 5px 5px RGB(0 0 0 / 50%);
        }

        #proceso article div .shadow-right[b-aa2z70w3sl] {
            box-shadow: 5px 5px 5px 5px RGB(0 0 0 / 50%);
        }

    #servicios .description article[b-aa2z70w3sl] {
        width: 50%;
        height: 50%;
        padding: 1rem;
        margin: 0rem;
    }
}

@media (min-width: 961px) and (max-width: 1120px) {
    section[b-aa2z70w3sl] {
        padding: 2rem;
    }

    #inicio .portada .tittle[b-aa2z70w3sl] {
        font-size: 2.5rem;
    }

    #inicio .portada .description[b-aa2z70w3sl] {
        font-size: 1.7rem;
    }

    #empresa .concepto[b-aa2z70w3sl] {
        font-size: 1.4rem;
    }

    #empresa .description div[b-aa2z70w3sl] {
        width: 45%;
        padding: 0.5rem;
        margin: 1rem;
    }

    #quehacemos[b-aa2z70w3sl] {
        flex-direction: column;
    }

        #quehacemos > div[b-aa2z70w3sl] {
            width: 80%;
            margin-bottom: 1rem;
            padding: 2rem;
        }


    #proceso article[b-aa2z70w3sl] {
        width: 100%;
        padding: 2rem;
    }

        #proceso article div[b-aa2z70w3sl] {
            padding: 1rem;
        }

        #proceso article img[b-aa2z70w3sl] {
            width: 80%;
        }
}

@media (min-width: 1121px) and (max-width: 1280px) {
    section[b-aa2z70w3sl] {
        padding: 2rem;
    }

    #inicio .portada .tittle[b-aa2z70w3sl] {
        font-size: 2.5rem;
    }

    #inicio .portada .description[b-aa2z70w3sl] {
        font-size: 1.7rem;
    }

    #empresa .concepto[b-aa2z70w3sl] {
        font-size: 1.4rem;
    }

    #empresa .description div[b-aa2z70w3sl] {
        width: 45%;
        padding: 0.5rem;
        margin: 1rem;
    }

    #quehacemos[b-aa2z70w3sl] {
        flex-direction: column;
    }

        #quehacemos > div[b-aa2z70w3sl] {
            width: 80%;
            margin-bottom: 1rem;
            padding: 2rem;
        }


    #proceso article[b-aa2z70w3sl] {
        width: 100%;
        padding: 2rem;
    }

        #proceso article img[b-aa2z70w3sl] {
            width: 70%;
        }

    #servicios .description article[b-aa2z70w3sl] {
        width: 30%;
        height: 50%;
        padding: 1rem;
        margin: 1rem;
    }
}

@media (min-width: 1281px) and (max-width: 1440px) {
    section[b-aa2z70w3sl] {
        padding: 2rem;
    }

    #inicio .portada .tittle[b-aa2z70w3sl] {
        font-size: 3rem;
        margin-top: 50px;
    }

    #inicio .portada .description[b-aa2z70w3sl] {
        margin-top: 20px;
    }

    #empresa .description div[b-aa2z70w3sl] {
        width: 45%;
        padding: 0.5rem;
        margin: 1rem;
    }

    #quehacemos > div[b-aa2z70w3sl] {
        width: 80%;
        padding: 2rem;
    }

    #quehacemos .description p[b-aa2z70w3sl] {
        padding: 1rem;
    }

    #proceso article[b-aa2z70w3sl] {
        width: 100%;
        padding: 2rem;
    }

        #proceso article img[b-aa2z70w3sl] {
            width: 80%;
        }

    #servicios .description article[b-aa2z70w3sl] {
        width: 30%;
        height: 50%;
        padding: 1rem;
        margin: 1rem;
    }
}

@media (min-width: 1441px) and (max-width: 1600px) {
    section[b-aa2z70w3sl] {
        padding: 2rem;
    }

    #inicio .portada .tittle[b-aa2z70w3sl] {
        margin-top: 50px;
    }

    #empresa .description div[b-aa2z70w3sl] {
        width: 30%;
        padding: 0.5rem;
        margin: 1rem;
    }

    #quehacemos .description p[b-aa2z70w3sl] {
        padding: 2rem;
    }

    #proceso article[b-aa2z70w3sl] {
        padding: 2rem;
    }

        #proceso article img[b-aa2z70w3sl] {
            width: 70%;
        }

    #servicios .description article[b-aa2z70w3sl] {
        width: 30%;
        height: 50%;
        padding: 1rem;
        margin: 1rem;
    }
}

@media (min-width: 1601px) and (max-width: 1760px) {
    
    #proceso article img[b-aa2z70w3sl] {
        width: 70%;
    }

}

@media (min-width: 1601px) and (max-width: 1760px) {

    #proceso article img[b-aa2z70w3sl] {
        width: 70%;
    }
}
/* /Shared/FooterPage.razor.rz.scp.css */

#footerPage[b-df7rb1v7cj] {
    background-color: #000000;
    color: #ffffff;
    padding: 1rem;
}

    #footerPage article[b-df7rb1v7cj] {
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
    }

        #footerPage article div[b-df7rb1v7cj] {
            display: flex;
            flex-direction: column;
            padding: 1.5rem;
            width: 30%;
        }

        #footerPage article .logo-empresa img[b-df7rb1v7cj] {
            width: 15rem;
        }

        #footerPage article .redes-sociales p[b-df7rb1v7cj] {
            flex-direction: row;
            flex-flow: row wrap;
            margin-top: 10px;
        }

            #footerPage article .redes-sociales p a[b-df7rb1v7cj] {
                margin: 0rem 0.5rem;
            }

            #footerPage article .redes-sociales p img[b-df7rb1v7cj] {
                width: 30px;
            }

@media (max-width: 640px) {

    #footerPage article div[b-df7rb1v7cj] {
        width: 100%;
        align-items: center;
    }
}

@media (min-width: 641px) and (max-width: 1120px) {
    #footerPage article div[b-df7rb1v7cj] {
        width: 50%;
        align-items: center;
    }
}

/* /Shared/MainLayout.razor.rz.scp.css */
*[b-w6tsxb3aap] {
    margin: 0;
    padding: 0;
    border: 0;
}
/* /Shared/MenuTop.razor.rz.scp.css */

*[b-qxs20e82c2] {
    margin: 0;
    padding: 0;
    border: 0;
}

img[b-qxs20e82c2] {
    width: 100%;
}

.menu-top[b-qxs20e82c2] {
    position: fixed;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.8);
    box-shadow: 0px 0px 10px 5px rgba(20,20,20,0.5);
    font-size: 14px;
    z-index: 10;
    color: #2879BC;
    font-weight: bold;
    padding: 1rem;
}

    .menu-top .logo[b-qxs20e82c2] {
        margin-left: 2rem;
    }

        .menu-top .logo img[b-qxs20e82c2] {
            width: 16rem;
        }

    .menu-top .options[b-qxs20e82c2] {
        align-items: center;
    }

        .menu-top .options ul[b-qxs20e82c2] {
            display: flex;
            list-style: none;
        }

        .menu-top .options a[b-qxs20e82c2] {
            white-space: nowrap;
            text-decoration: none;
            margin-left: 1rem;
            color: white;
        }

            .menu-top .options a:hover[b-qxs20e82c2] {
                color: #48BAB8;
                font-weight: bold;
            }

    .menu-top .redes-sociales[b-qxs20e82c2] {
        margin-right: 2rem;
    }

        .menu-top .redes-sociales a img[b-qxs20e82c2] {
            width: 25px;
        }

@media (max-width: 640px) {
    .menu-top .logo img[b-qxs20e82c2] {
        width: 10rem;
    }
}

@media (max-width: 800px) {
    .options[b-qxs20e82c2] {
        position: absolute;
        margin-top: 9rem;
    }

    .menu-top .options ul[b-qxs20e82c2] {
        flex-direction: column;
    }

        .menu-top .options ul li[b-qxs20e82c2] {
            width: 100%;
            background-color: aqua;
        }

    .options a[b-qxs20e82c2] {
        width: 100%;
    }
}

@media (min-width: 641px) and (max-width: 960px) {
    .menu-top .logo img[b-qxs20e82c2] {
        width: 12rem;
    }
}

@media (min-width: 961px) and (max-width: 1120px) {
    .menu-top .logo img[b-qxs20e82c2] {
        width: 14rem;
    }
}
