
<section id="footerPage" class="footer">
    <div class="container">
        <article>
            <div class="logo-empresa">
                <img src="images/logo_itc.png" />
                <br />
                <p>
                    Somos una empresa dedicada al Desarrollo de Software,
                    innovando en los productos y desarrollos que hacemos.
                </p>
            </div>
            <div class="servicios">
                <h5>
                    Servicios
                </h5>
                <p>
                    <ul>
                        <li>Fabricación de Software</li>
                        <li>Desarrollo Web</li>
                        <li>
                            Desarrollo Móvil
                        </li>
                        <li>
                            Desarrollo de Escritorio
                        </li>
                        <li>Desarrollo de APIs</li>
                        <li>
                            Construcción de Bases de Datos
                        </li>
                    </ul>
                </p>
            </div>
            <div class="redes-sociales">
                <h5>
                    Redes Sociales
                </h5>
                <div>
                    <a href="https://www.facebook.com/innovatimecolombia" target="_blank">
                        <img src="images/iconos/facebook.svg" />
                    </a>
                    <a href="https://m.me/159331382892204" target="_blank">
                        <img src="images/iconos/messenger.png" />
                    </a>
                    <a href="https://www.instagram.com/innovatimecolombia" target="_blank">
                        <img src="images/iconos/instagram.svg" />
                    </a>
                </div>
            </div>
        </article>
    </div>
</section>