
#footerPage {
    background-color: #000000;
    color: #ffffff;
    padding: 1rem;
}




    #footerPage .container article {
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
    }

        #footerPage .container article div {
            display: flex;
            flex-direction: column;
            padding: 1.5rem;
            width: 30%;
        }

        #footerPage .container article .logo-empresa img {
            width: 15rem;
        }

            #footerPage .container article .redes-sociales div a img{
                width: 30px;
                margin-bottom: 1rem;
            }
