@inherits LayoutComponentBase

<div class="page">
    <PageTitle>InnovaTime Colombia</PageTitle>
    <div class="main-menu">
        <MenuTop />
    </div>
    <div class="main-body">
        @Body
    </div>
    <div class="main-footer">
    </div>
</div>
