
<nav class="menu-top">
    <div class="logo">
        <img src="images/logo_itc.png" />
    </div>
    <div class="options @Class" @onclick="MenuResponsive">
        <ul>
            <li><a href="/#inicio">Inicio</a></li>
            <li><a href="/#empresa">Quienes Somos</a></li>
            <li><a href="/#proceso">Proceso</a></li>
            <li><a href="/#servicios">Servicios</a></li>
            <li><a href="contactanos">Contactanos</a></li>
        </ul>
    </div>
    <div class="redes-sociales">
        <a href="https://api.whatsapp.com/send?phone=573052072324" title="whatsApp" target="_blank">
            <img src="images/iconos/whatsapp.svg" />
        </a>
        <div id="menuResponsive" href="#" @onclick="MenuResponsive">
            <img src="images/iconos/menu.png" />
        </div>
    </div>
</nav>

@* <script>

</script> *@

@code
{
    private string Class { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Class = "options-responsive";
    }

    private void MenuResponsive()
    {
        if (string.IsNullOrEmpty(Class))
            Class = "options-responsive wow fadeInDown";
        else
            Class = null;

    }
}

