
<div class="menu-top">
    <div class="logo">
        <img src="images/logo_itc.png" />
    </div>
    <div class="options">
        <a href="#inicio">Inicio</a>
        <a href="#empresa">Quienes Somos</a>
        <a href="#proceso">Proceso</a>
        <a href="#servicios">Servicios</a>
        <a href="contactanos">Contactanos</a>
    </div>
    <div class="redes-sociales">
        <a href="https://www.facebook.com/innovatimecolombia" target="_blank">
            <img src="images/iconos/facebook.svg" />
        </a>
        <a href="https://m.me/159331382892204" target="_blank">
            <img src="images/iconos/messenger.png" />
        </a>
        <a href="https://www.instagram.com/innovatimecolombia" target="_blank">
            <img src="images/iconos/instagram.svg" />
        </a>
        <a href="https://api.whatsapp.com/send?phone=573052072324" title="whatsApp" target="_blank">
            <img src="images/iconos/whatsapp.svg" />
        </a>
    </div>
</div>

@code {

}
