<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
	<!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<customHeaders>
					<!-- CSP -->
					<add
						name="Content-Security-Policy"
						value="default-src 'self' data: blob:; 
					script-src 'self' 'unsafe-inline' 'unsafe-eval';
					style-src 'self' 'unsafe-inline';
					img-src 'self' data: blob:;
					media-src 'self' data: blob:;
					frame-src 'self' www.youtube.com www.dailymotion.com data: blob:" />
					<!-- CORS -->
					<add name="Access-Control-Allow-Origin" value="*" />
					<add name="Access-Control-Allow-Methods" value="GET, PUT, POST, DELETE, PATCH" />
					<!-- HSTS -->
					<add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
					<!-- Referrer-Policy -->
					<add name="Referrer-Policy" value="strict-origin-when-cross-origin"/>
					<!--X-Content-Type-Options-->
					<add name="X-Content-Type-Options" value="nosniff"/>
					<!-- X-Frame-Options -->
					<add name="X-Frame-Options" value="SAMEORIGIN" />
					<!-- X-XSS-Protection -->
					<add name="X-XSS-Protection" value="1; mode=block" />
					<!-- X-Permitted-Cross-Domain-Policies -->
					<add name="X-Permitted-Cross-Domain-Policies" value="master-only" />
					<!-- X-Powered-By -->
					<remove name="X-Powered-By" />
					<add name="X-Powered-By" value="WorkManager" />
					<!-- Permissions-Policy -->
					<add
						name="Permissions-Policy"
						value="accelerometer=(self), 
					ambient-light-sensor=(self), 
					autoplay=(self), battery=(self), 
					camera=(self), 
					cross-origin-isolated=(self), 
					display-capture=(self), 
					document-domain=(self), 
					encrypted-media=(self), 
					execution-while-not-rendered=(self), 
					execution-while-out-of-viewport=(self), 
					fullscreen=(self), geolocation=(self), 
					gyroscope=(self), keyboard-map=(self), 
					magnetometer=(self), microphone=(self), 
					midi=(self), navigation-override=(self), 
					payment=(self), picture-in-picture=(self), 
					publickey-credentials-get=(self), 
					screen-wake-lock=(self), 
					sync-xhr=(self), usb=(self), 
					web-share=(self), 
					xr-spatial-tracking=(self)"/>
				</customHeaders>
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>