@page "/contactanos"

@* <TitlePage title="Contactanos" UrlImgae="images/contactanos/Contacto.jpg" /> *@

<section id="contacto" class="contacto">
    <article class="informacion">
        <div class="container">
            <h5>PONTE EN CONTACTO</h5>
            <br />
            <h1>¡CREEMOS ALGO JUNTOS!</h1>
            <br />

            <p>
                <img src="images/contactanos/icon_email.png" />
                Innovatimecolombia@gmail.com
            </p>
            <br />
            <p>
                <img src="images/contactanos/icon_phone.png" />
                +57 3052072324
            </p>

        </div>
    </article>
</section>


