
#contacto img {
    width: 100%;
}

#contacto {
    background: url("images/contactanos/background_contacto.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    padding: 0;
    background-color: rgba(0, 0, 0, .5);
}

    #contacto .informacion {
        background-color: rgba(0, 0, 0, .5);
    }

    #contacto .informacion .container {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        width: 100%;
        color: #FFFFFF;
        height: 100vh;
        padding: 5rem;
    }

        #contacto .informacion .container img {
            width: 50px;
        }
