@page "/"


<section id="Inicio">
    <div class="portada">
        <p class="tittle">
            Diseño de paginas web, Aplicaciones Moviles y Software a la Medida. LCP
        </p>
        <br />
        <p class="description">
            Desarrollamos software confiable, seguro y escalable para su empresa. Nuestro compromiso es brindar soluciones tecnológicas para la transformación digital y optimización de su empresa, con una perspectiva ética y humana, buscando ofrecer servicios eficientes a la sociedad, utilizando y administrando recursos electrónicos e informáticos.
        </p>
    </div>
</section>
<section id="QueHacemos">
    <div class="imagen">
        <img src="images/index/quehacemos.jpg" />
    </div>
    <div class="description">
        <h1>Que Hacemos</h1>
        <p>
            Gestionamos, desarrollamos e implementamos software a la medida para las empresas que necesiten gestionar sus procesos de una manera sencilla.
            <br />
            <br />
            Diseñamos soluciones de software para diferentes sectores productivos.
            Nos enfocamos en una combinación única de habilidades creativas, técnicas
            y de solución de problemas para alcanzar los objetivos de nuestros clientes.
        </p>
    </div>
</section>
<section id="ComoLoHacemos">
    <h1>Como lo hacemos</h1>
    <div class="description">
        @* Reunión con el cliente *@
        <div>
            <img src="images/index/como_lo_hacemos_client.png" />
            <h5>Reunión con el cliente</h5>
            <p>
                La primera reunión es muy importante para familiarizarse y discutir las ideas principales del proyecto.
                <br />
                <br />
                Escuchamos a nuestros clientes y planteamos soluciones que incrementen valor a sus productos y alcancen las metas planteadas.
                <br />
                <br />
                El análisis inicial del proyecto es muy importante para entender perfectamente los requerimientos de nuestros clientes y así poderles ofrecer las soluciónes de software que más se adapten a sus necesidades.
            </p>
        </div>
        @* Planeación y Diseño *@
        <div>
            <img src="images/index/como_lo_hacemos_desing_planing.png" />
            <h5>Planeación y Diseño</h5>
            <p>
                Diseñamos experiencias de acuerdo a las necesidades del cliente, nos encargamos de plasmar tus ideas en conceptos gráficos claros y atractivos.
                <br />
                <br />
                En la parte de planeación de los sistemas de software definimos las actividades del proyecto, tiempos para el desarrollo, arquitectura de software, formas de interacción con el cliente.
            </p>
        </div>
        @* Desarrollo, Implementación y Pruebas *@
        <div>
            <img src="images/index/como_lo_hacemos_development.png" />
            <h5>Desarrollo, Implementación y Pruebas</h5>
            <p>
                Ya que se establecieron los lineamientos del proyecto y todos estamos en acuerdo, iniciamos el proceso de diseño de interfaces así como maquetación y codificación del sistema utilizando metodologías agiles de desarrollo como scrum.
                <br />
                <br />
                Pondremos en marcha el desarrollo realizado y monitorearemos minuciosamente el desempeño.
                <br />
                <br />
                Ya identificadas las posibles fallas y/o mejoras es momento de realizar un plan para resolver los inconvenientes y realizar mejoras al software.
            </p>
        </div>
        @* Entrega *@
        <div>
            <img src="images/index/como_lo_hacemos_delivery.png">
            <h5>Entrega</h5>
            <p>
                El proyecto está terminado y se lo entregamos a nuestro cliente.
                <br />
                <br />
                Implementamos sistemas personalizados para empresas que desean una solución tecnológica a su medida, de fácil y rápido acceso ajustada a sus necesidades.
                <br />
                <br />
                Del ciclo de vida de un sistema de software el 30% del tiempo se ocupa para la construcción del mismo, el otro 70% es para su mantenimiento, por lo que nosotros nos comprometemos a seguir actualizando y mejorando tu software.
            </p>
        </div>
    </div>
</section>
<section id="Servicios">
    <h1>Nuestros Servicios</h1>
    <div class="description">
        <div>
            <img src="images/index/servicios_custom_software.jpg" />
            <h5>Fabricación De Software</h5>
            <p>
                Ofrecemos servicios de desarrollo de software,
                buscando la solución que mejor se adapte a las necesidades de su negocio.
                <br />
                Analizamos de manera exhaustiva los requerimientos de tu empresa,
                realizamos el diseño funcional y técnico,
                lo integramos con otros softwares,
                acometemos la puesta en marcha y la formación de los usuarios.
            </p>
        </div>
        <div>
            <img src="images/index/servicios_portal_web.jpg" />
            <h5>Desarrollo Web</h5>
            <p>
                Desarrollo de aplicaciones web a medida. FrontEnd y BackEnd.
                Soluciones web auto administrables.
                <br /><br />
                Diseñamos y desarrollamos portales transaccionales web robustos y con un amplio manejo de datos o usuarios con soporte y manejo de toda tecnología.
            </p>
        </div>
        <div>
            <img src="images/index/servicios_app_mobile.jpg" />
            <h5>Desarrollo Móvil</h5>
            <p>
                Desarrollo de aplicaciones híbridas para dispositivos móviles, compatibles con Android e iOS
            </p>
        </div>
        <div>
            <img src="images/index/servicios_desktop_software.png" />
            <h5>Desarrollos de Escritorio</h5>
            <p>
                Desarrollo de aplicaciones de escritorio para sistemas operativos Windows.
            </p>
        </div>
        <div>
            <img src="images/index/servicios_api_dev.jpeg" />
            <h5>Desarrollo de APIs</h5>
            <p>
                Desarrollo de herramienta intermedia para conectar distintos sistemas de manera automática o por peticiones del usuario.
            </p>
        </div>
        <div>
            <img src="images/index/servicios_db1.svg" />
            <h5>Construcción de Bases de Datos</h5>
            <p>
                Diseño y desarrollo de una estructura de base de datos escalable, requerida para optimizar su negocio.
            </p>
        </div>
    </div>
</section>

<section id="Tecnologias">
    <h1>Tecnologías que usamos</h1>
    <div class="description">
        <div>
            <img src="images/Tecnologias-Html5.jpg" />
            <h5>HTML 5</h5>
        </div>
        <div>
            <img src="images/Tecnologias-CSS.jpg" />
            <h5>CSS</h5>
        </div>
        <div>
            <img src="images/Tecnologias-Javascript.png" />
            <h5>Javascript</h5>
        </div>
        <div>
            <img src="images/Tecnologias-CSharp.png" />
            <h5>CSHARP</h5>
        </div>
        <div>
            <img src="images/Tecnologias-Blazor.jpg" />
            <h5>Blazor</h5>
        </div>
        <div>
            <img src="images/Tecnologias-DotnetMAUI1.jpg" />
            <h5>Dotnet MAUI</h5>
        </div>

        <div>
            <img src="images/Tecnologias-SQLServer.png" />
            <h5>SQL Server</h5>
        </div>
        <div>
            <img src="images/Tecnologias-MySQL.png" />
            <h5>MySQL</h5>
        </div>
        <div>
            <img src="images/Tecnologias-Postgresql.png" />
            <h5>PostgreSQL</h5>
        </div>
    </div>
</section>