@page "/"

<section id="inicio" class="inicio">
    <div class="portada">
        <p class="tittle wow fadeInDown">
            Diseño de paginas web, Aplicaciones Moviles y Software a la Medida.
        </p>
        <br />
        <p class="description wow fadeInUp">
            Desarrollamos software confiable, seguro y escalable para su empresa. Nuestro compromiso es brindar soluciones tecnológicas para la transformación digital y optimización de su empresa, con una perspectiva ética y humana, buscando ofrecer servicios eficientes a la sociedad, utilizando y administrando recursos electrónicos e informáticos.
        </p>
    </div>
</section>

<section id="empresa">
    <h1>Nuestra Empresa</h1>
    <p class="concepto wow fadeInUp">
        InnovaTime es una empresa especializada
        en el <strong>Desarrollo de Software</strong>, destacada
        por su enfoque vanguardista y soluciones
        personalizadas. Nos distinguimos por
        fusionar creatividad y experiencia técnica
        para proporcionar a nuestros clientes
        herramientas digitales que no solo cumplen
        con sus necesidades actuales, sino que también
        anticipan y se adaptan a los desafíos futuros.

        Nuestro compromiso es impulsar el progreso
        tecnológico de las empresas, permitiéndoles
        alcanzar niveles óptimos de eficiencia y
        competitividad en un mundo empresarial en
        constante evolución
    </p>
    <div class="description">
        @* Misión *@
        <div class="wow fadeInUp" style="animation-delay: 0.2s;">
            <img src="images/iconos/mision.png" />
            <h5>Misión</h5>
            <p>
                En InnovaTime, nuestra misión es ofrecer
                soluciones de desarrollo de software
                innovadoras y personalizadas que
                optimicen los procesos empresariales.
                <br />
                <br />
                Nos comprometemos a proporcionar a nuestros
                clientes herramientas tecnológicas que
                impulsen la eficiencia, la productividad y
                el crecimiento sostenible de sus negocios,
                superando constantemente sus expectativas.
            </p>
        </div>

        @* Visión *@
        <div class="wow fadeInUp" style="animation-delay: 0.4s;">
            <img src="images/iconos/vision.png" />
            <h5>Visión</h5>
            <p>
                Como innovadores en el desarrollo de software,
                visualizamos a InnovaTime como la firma preferida
                y confiable en el ámbito tecnológico.
                <br />
                <br />
                Nos esforzamos por ser reconocidos por nuestra
                excelencia en la creación de soluciones a la
                vanguardia que transforman la manera en que las
                empresas gestionan sus operaciones.
                <br />
                <br />
                Buscamos expandir nuestra presencia,
                siendo catalizadores de la innovación y
                la mejora continua en el panorama empresarial.
            </p>
        </div>

        @* Principios y Valores *@
        <div class="wow fadeInUp" style="animation-delay: 0.6s;">
            <img src="images/iconos/princios_valores.png" />
            <h5>Principios y Valores</h5>
            <p>
                Los principios fundamentales de InnovaTime
                están arraigados en la excelencia,
                la innovación continua y el compromiso
                inquebrantable con la calidad. Guiados
                por la transparencia y la integridad,
                nuestros principios nos orientan hacia
                la creación de soluciones de software que
                no solo cumplen con los estándares
                tecnológicos más altos, sino que también
                respetan los valores éticos en cada paso
                de nuestro trabajo.
                <br />
                <br />
                <strong>Valores:</strong> Innovación, Compromiso con la Calidad, Colaboración, Ética,
                Adaptabilidad, Orientación al Cliente, Responsabilidad Social
            </p>
        </div>
    </div>
</section>

<section id="quehacemos">
    <div class="imagen wow fadeInLeft">
        <img src="images/index/quehacemos.jpg" />
    </div>
    <div class="description wow fadeInRight">
        @* <h1>Que Hacemos</h1> *@
        <p>
            En nuestra empresa, nos especializamos en la gestión,
            desarrollo e implementación de software personalizado,
            adaptado a las necesidades específicas de las empresas
            que buscan simplificar sus procesos.
            <br />
            <br />
            Creamos soluciones de software diseñadas a medida para
            diversos sectores productivos. Nuestro enfoque se distingue
            por una combinación única de habilidades creativas,
            técnicas y resolución de problemas, lo que nos permite
            alcanzar con éxito los objetivos de nuestros clientes.
            <br />
            <br />
            Nos comprometemos a proporcionar soluciones innovadoras
            que no solo satisfacen las necesidades actuales, sino que
            también anticipan y se adaptan a las futuras demandas de su negocio.
        </p>
    </div>
</section>

<section id="proceso" class="wow fadeInUp">
    <h1>Como lo Hacemos</h1>
    <article>
        @* Reunión con el cliente *@
        <div class="description wow fadeInLeft">
            <h5>Reunión con el cliente</h5>
            <p>
                La primera reunión es muy importante para familiarizarse y discutir las ideas principales del proyecto.
                <br />
                <br />
                Escuchamos a nuestros clientes y planteamos soluciones que incrementen valor a sus productos y alcancen las metas planteadas.
                <br />
                <br />
                El análisis inicial del proyecto es muy importante para entender perfectamente los requerimientos de nuestros clientes y así poderles ofrecer las soluciónes de software que más se adapten a sus necesidades.
            </p>
        </div>
        <div class="image wow fadeInRight">
            <img src="images/index/reunion_cliente.jpg" class="shadow-right" />
        </div>
    </article>

    <article>
        @* Planeación y Diseño *@
        <div class="image wow fadeInLeft">
            <img src="images/index/planeacion_design.jpg" class="shadow-left" />
        </div>
        <div class="description wow fadeInRight">
            <h5>Planeación y Diseño</h5>
            <p>
                Diseñamos experiencias de acuerdo a las necesidades del cliente, nos encargamos de plasmar tus ideas en conceptos gráficos claros y atractivos.
                <br />
                <br />
                En la parte de planeación de los sistemas de software definimos las actividades del proyecto, tiempos para el desarrollo, arquitectura de software, formas de interacción con el cliente.
            </p>
        </div>
    </article>

    <article>
        @* Desarrollo, Implementación y Pruebas *@
        <div class="description wow fadeInLeft">
            <h5>Desarrollo, Implementación y Pruebas</h5>
            <p>
                Ya que se establecieron los lineamientos del proyecto y todos estamos en acuerdo, iniciamos el proceso de diseño de interfaces así como maquetación y codificación del sistema utilizando metodologías agiles de desarrollo como scrum.
                <br />
                <br />
                Pondremos en marcha el desarrollo realizado y monitorearemos minuciosamente el desempeño.
                <br />
                <br />
                Ya identificadas las posibles fallas y/o mejoras es momento de realizar un plan para resolver los inconvenientes y realizar mejoras al software.
            </p>
        </div>
        <div class="image wow fadeInRight">
            <img src="images/index/dev_implementation_test.jpg" class="shadow-right" />
        </div>
    </article>
    <article>
        @* Entrega *@
        <div class="image wow fadeInLeft">
            <img src="images/index/delivery.jpg" class="shadow-left">
        </div>
        <div class="description wow fadeInRight">
            <h5>Entrega</h5>
            <p>
                El proyecto está terminado y se lo entregamos a nuestro cliente.
                <br />
                <br />
                Implementamos sistemas personalizados para empresas que desean una solución tecnológica a su medida, de fácil y rápido acceso ajustada a sus necesidades.
                <br />
                <br />
                Del ciclo de vida de un sistema de software el 30% del tiempo se ocupa para la construcción del mismo, el otro 70% es para su mantenimiento, por lo que nosotros nos comprometemos a seguir actualizando y mejorando tu software.
            </p>
        </div>
    </article>
</section>

<section id="servicios" class="wow fadeInUp">
    <h1>Servicios que Ofrecemos</h1>
    <div class="description">
        <article class="wow fadeInUp" style="animation-delay: 0.1s;">
            <img src="images/index/fabricacion_software.jpg" />
            <h5>Fabricación de Software</h5>
            @* <p>
            Ofrecemos servicios de desarrollo de software,
            buscando la solución que mejor se adapte a las necesidades de su negocio.
            <br />
            Analizamos de manera exhaustiva los requerimientos de tu empresa,
            realizamos el diseño funcional y técnico,
            lo integramos con otros softwares,
            acometemos la puesta en marcha y la formación de los usuarios.
            </p> *@
        </article>
        <article class="wow fadeInUp" style="animation-delay: 0.2s;">
            <img src="images/index/dev_web.jpg" />
            @* <p>
            Desarrollo de aplicaciones web a medida. FrontEnd y BackEnd.
            Soluciones web auto administrables.
            <br /><br />
            Diseñamos y desarrollamos portales transaccionales web robustos y con un amplio manejo de datos o usuarios con soporte y manejo de toda tecnología.
            </p> *@
            <h5>Desarrollo Web</h5>
        </article>
        <article class="wow fadeInUp" style="animation-delay: 0.3s;">
            <div>
                <img src="images/index/dev_mobile.jpg" />
                <h5>Desarrollo Móvil</h5>
                @* <p>
                Desarrollo de aplicaciones híbridas para dispositivos móviles, compatibles con Android e iOS
                </p> *@
            </div>
        </article>
        <article class="wow fadeInUp" style="animation-delay: 0.4s;">
            <img src="images/index/dev_desktop.jpg" />
            <h5>Desarrollo de Escritorio</h5>
            @* <p>
                Desarrollo de aplicaciones de escritorio para sistemas operativos Windows.
            </p> *@
        </article>
        <article class="wow fadeInUp" style="animation-delay: 0.5s;">
            <img src="images/index/dev_api.jpg" />
            <h5>Desarrollo de APIs</h5>
            @* <p>
                Desarrollo de herramienta intermedia para conectar distintos sistemas de manera automática o por peticiones del usuario.
            </p> *@
        </article>
        <article class="wow fadeInUp" style="animation-delay: 0.6s;">
            <img src="images/index/dev_db.jpg" />
            <h5>Construcción de Bases de Datos</h5>
            @* <p>
                Diseño y desarrollo de una estructura de base de datos escalable, requerida para optimizar su negocio.
            </p> *@
        </article>
    </div>
</section>

