
img {
    width: 100%;
}

section {
    color: #000000;
    text-align: center;
    padding: 5rem;
}

h1, h5 {
    margin-bottom: 2rem;
    font-weight: bold;
}

#inicio {
    background: url("images/index/portada.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    padding: 0;
}

    #inicio .portada {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        color: #FFFFFF;
        background-color: rgba(0, 0, 0, .5);
        height: 100vh;
        padding: 5rem;
    }

        #inicio .portada .tittle {
            font-size: 3.5rem;
            font-weight: bold;
        }

        #inicio .portada .description {
            margin-top: 50px;
            font-size: 2rem;
        }


#empresa .concepto {
    font-size: 1.5rem;
}

#empresa img {
    width: 100px;
}


#empresa .description {
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

    #empresa .description div {
        width: 400px;
        padding: 1rem 2rem;
    }

        #empresa .description div:hover {
            background-color: #F5F5F5;
        }

    #empresa .description p {
        text-align: justify;
        font-size: 1.25rem;
    }


#quehacemos {
    display: flex;
    justify-content: space-around;
    background-color: #F5F5F5;
}

    #quehacemos > div {
        width: 48%;
    }

    #quehacemos .imagen {
        box-shadow: -2rem -1rem #075E54;
    }

    #quehacemos .description {
        box-shadow: 0px 0px 1rem 0px RGB(0 0 0 / 50%);
    }

        #quehacemos .description p {
            text-align: justify;
            font-size: 1.25rem;
            padding: 5rem;
        }


#proceso article {
    display: flex;
    width: 100%;
    padding: 1rem 10rem;
    justify-content: space-between;
}

    #proceso article div {
        width: 50%;
    }

    #proceso article .description {
        justify-content: center;
        margin: auto;
        text-align: justify;
        font-size: 1.25rem;
        background-color: #F5F5F5;
        padding: 1rem;
    }

    #proceso article img {
        width: 50%;
    }

    #proceso article div .shadow-left {
        box-shadow: -10px 10px 10px 10px RGB(0 0 0 / 50%);
        border-radius: 10px;
    }

    #proceso article div .shadow-right {
        box-shadow: 10px 10px 10px 10px RGB(0 0 0 / 50%);
        border-radius: 10px;
    }

/*#proceso img {
    width: 250px;
}*/

#servicios {
    background-color: #F5F5F5;
}

    #servicios .description {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

        #servicios .description article {
            width: 400px;
            height: 600px;
            padding: 1rem;
            margin: 1rem;
        }

            #servicios .description article img {
                width: 100%;
                margin-bottom: 1rem;
                border-radius: 10px;
            }


@media (max-width: 480px) {
    section {
        padding: 2rem 1rem;
    }

        #inicio .portada {
            padding: 1rem;
        }

            #inicio .portada .tittle {
                font-size: 1rem;
            }

            #inicio .portada .description {
                margin-top: 10px;
                font-size: 1rem;
            }

    #empresa .concepto {
        font-size: 1.25rem;
    }

    #empresa .description div {
        width: 400px;
        padding: 1rem 1rem;
    }

    #quehacemos {
        flex-direction: column;
    }

        #quehacemos > div {
            width: 100%;
        }

        #quehacemos .description p {
            text-align: justify;
            padding: 1rem;
        }


    #proceso article {
        flex-direction: column;
        width: 100%;
        padding: 1rem 0rem;
    }

        #proceso article div {
            width: 100%;
            padding: 1rem 0rem;
        }

        #proceso article img {
            width: 100%;
        }

        #proceso article div .shadow-left {
            box-shadow: -3px 3px 3px 3px RGB(0 0 0 / 50%);
        }

        #proceso article div .shadow-right {
            box-shadow: 3px 3px 3px 3px RGB(0 0 0 / 50%);
        }

            #servicios .description article {
                width: 100%;
                height: 100%;
                padding: 0rem;
                margin: 0rem;
            }
}

@media (min-width: 481px) and (max-width: 640px) {
    section {
        padding: 1rem;
    }

    #inicio .portada {
        padding: 1rem;
    }

        #inicio .portada .tittle {
            font-size: 2rem;
        }

        #inicio .portada .description {
            margin-top: 10px;
            font-size: 1.5rem;
        }

    #empresa .concepto {
        font-size: 1.25rem;
    }

    #empresa .description div {
        width: 400px;
        padding: 1rem 1rem;
    }

    #quehacemos {
        flex-direction: column;
    }

        #quehacemos > div {
            width: 100%;
        }

        #quehacemos .description p {
            text-align: justify;
            padding: 1rem;
        }


    #proceso article {
        flex-direction: column;
        width: 100%;
        padding: 1rem 0rem;
    }

        #proceso article div {
            width: 100%;
            padding: 1rem 0rem;
        }

        #proceso article img {
            width: 100%;
        }

        #proceso article div .shadow-left {
            box-shadow: -3px 3px 3px 3px RGB(0 0 0 / 50%);
        }

        #proceso article div .shadow-right {
            box-shadow: 3px 3px 3px 3px RGB(0 0 0 / 50%);
        }

    #servicios .description article {
        width: 100%;
        height: 100%;
        padding: 0rem;
        margin: 0rem;
    }
}
